# Environment Configuration
NODE_ENV=development

# Next.js Public Environment Variables
NEXT_PUBLIC_API_URL=https://price05.ru
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# NextAuth Environment Variables
NEXTAUTH_SECRET=secret #из bearpass.ru
NEXTAUTH_URL=http://localhost:3000

API_URL=https://price05.ru
