# Environment Configuration
NODE_ENV=development

# Next.js Public Environment Variables
NEXT_PUBLIC_API_URL=https://xn--d1aba8al4b0b.xn--c1abz2a.xn--p1ai
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# NextAuth Environment Variables
NEXTAUTH_SECRET=secret #из bearpass.ru
NEXTAUTH_URL=http://localhost:3000

# В режиме разработки https://xn--d1aba8al4b0b.xn--c1abz2a.xn--p1ai/backend 
# в режиме production http://backend:8080
EXTERNAL_API_HOST=https://xn--d1aba8al4b0b.xn--c1abz2a.xn--p1ai/backend
#EXTERNAL_API_HOST=http://192.168.1.11:8080