/* Убираем синий фон для выделяемой области */
.rbc-selecting {
    background-color: transparent !important;
}

/* Убираем полупрозрачный синий слой при наведении/выделении */
.rbc-day-slot .rbc-selecting,
.rbc-day-slot .rbc-event {
    background-color: transparent !important;
    border: none !important;
    color: black;
}

/* Если вы используете пропс `selectable` и хотите убрать фон у ячеек */
.rbc-day-bg.rbc-selected,
.rbc-month-row .rbc-selected {
    background-color: transparent !important;
}